/*! Rest_artatom */

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
applet,
object,
iframe,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
ins,
kbd,
q,
s,
samp,
strike,
tt,
var,
b,
u,
i,
em,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
article,
aside,
button,
canvas,
details,
embed,
figure,
figcaption,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline;
}

html{
    line-height:1.25;
    -ms-text-size-adjust:none;
    -webkit-text-size-adjust:none;
}

body{
    margin:0;
}

table{
    border-collapse:collapse;
    border-spacing:0;
    border-width:0;
}

caption,
th,
td{
    vertical-align:baseline;
    text-align:left;
}

ol,
ul{
    list-style:none;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary{
    display:block;
}

audio,
canvas,
progress,
video{
    display:inline-block;
}

audio:not([controls]){
    display:none;
    height:0;
}

progress{
    vertical-align:baseline;
}

template, [hidden]{
    display:none;
}

a{
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
}

a:active,
a:hover{
    outline-width:0;
}

img{
    max-width:100%;
    border-style:none;
    vertical-align:baseline;
}

svg:not(:root){
    overflow:hidden;
}

code,
kbd,
pre,
samp{
    font-family:monospace, sans-serif;
    font-size:1em;
}

figure{
    margin:1em 40px;
}

hr{
    box-sizing:content-box;
    height:0;
    overflow:visible;
}

button,
input,
optgroup,
select,
textarea{
    background:0 none;
    font:inherit;
    margin:0;
}

optgroup{
    font-weight:bold;
}

button,
input{
    overflow:visible;
}

button{
    cursor:pointer;
    border:0 none;
    border-radius:0;
    outline:none;
    box-shadow:none;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
}

button,
select{
    text-transform:none;
}

button, html [type="button"], [type="reset"], [type="submit"]{
    -webkit-appearance:button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
    border-style:none;
    padding:0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
    outline:1px dotted ButtonText;
}

fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em;
}

legend{
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal;
}

textarea{
    overflow:auto;
}

[type="checkbox"],
[type="radio"]{
    box-sizing:border-box;
    padding:0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
    height:auto;
}

[type="search"]{
    -webkit-appearance:textfield;
    outline-offset:-2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none;
}

::-webkit-input-placeholder{
    color:inherit;
    opacity:0.54;
}

::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit;
}

/*! rest_artatom */

/*! Font-size settings */

html,
body,
table,
button,
input,
textarea,
select{
    font-size:10px;
    font-family:'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
}

ymaps{
    font-family:'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
}

/*! font-size settings */

/*! Setting base element */

*,
*:after,
*:before{
    box-sizing:border-box;
}

hr{
    display:block;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
}

a{
    text-decoration:none;
    color:var(--c-base-text);
}

a:focus{
        outline-color:var(--c-blue);
    }

a[href ^= "tel"]{
        white-space:nowrap;
        cursor:default;
    }

a[href  ="mailto"]{
        white-space:nowrap;
        max-width:100%;
        overflow:hidden;
        text-overflow:ellipsis;
    }

iframe{
    max-width:100%;
}

.g-wrap{
    max-width:100%;
    max-height:100%;
    overflow:hidden;
}

.g-visually-hidden{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    border:0 none;
    outline:0 none;
    padding:0;
    clip:rect(0 0 0 0);
    overflow:hidden;
}

.g-null{
    display:inline-block;
    width:0px;
    height:0px;
    font-size:0px;
    clear:both;
}

html[xmlns] .g-null{
    display:block;
}

.clearfix::after{
  content:"";
  display:table;
  clear:both;
}

/*! Buttons  */

.buttons{
    margin:auto;
    display:grid;
    max-width:500px;
    grid-template-rows:repeat(5, 1fr);
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow:column;
    grid-gap:20px;
}

@media (max-width: 767px){
        .buttons{
            max-width:inherit;
            grid-auto-flow:row;
        }
    }

.button{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:200px;
    height:50px;
    padding:5px 25px;
    border-radius:25px;
    background:#00A3FF;
    border:3px solid #00A3FF;
    text-align:center;
    color:#fff;
    fill:currentColor;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
    transition:all 0.15s ease;
}

.button__txt{
        flex-grow:2;
        padding:0 15px;
        font-size:20px;
        line-height:1.3;
        display:block;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }

.button__ico{
        max-width:25px;
        max-height:25px;
    }

.button__ico--editor{
        }

.button__ico--menu{
            max-width:19px;
            max-height:19px;
        }

.button:not(:disabled):hover,
    .button:not(:disabled).button--hover{
        color:#00A3FF;
        background:linear-gradient( #fbfdff, #caecff);
        box-shadow:0 3px 3px rgba(0,0,0, 0.2);
    }

.button:disabled{
        background:#bababa;
        border-color:#bababa;
        cursor:default;
    }

/*! buttons  */

/*! Base */

body{
    color:#333;
    background:#fff;
    -webkit-font-smoothing:subpixel-antialiased;
    font-smoothing:subpixel-antialiased;
    min-height:100vh;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}


/*# sourceMappingURL=maps/style_main.css.map */
